#wrapper
{
    width: 100%;
    height: 100%;
    position: absolute;
}

#wrapper .error
{
    display: block;
    color: #f00;
}

#navbar-in
{
    margin: 0 0 0 5%;
    text-align: center;
}

#margingiver
{
    margin-bottom: 10%;
}

#reset
{
    font-size: small;
    color: dodgerblue;
}

#loginwindow
{
    margin-top: 50%;
}

#content
{
    margin: 0 0 0 5%;
    float: left;
    padding: 10px 10px 50px 10px;
    position: relative;
}

#content > div.panel
{
    margin-left: 5pt;
    margin-right: 5pt;
}

td, th
{
    padding: 8px;
    text-align: center;
}

/*******/
/*The following animation was inspired by 'font-awesome-animation', which can be found under the following information.
  Certain changes were made. */

/*font-awesome-animation - v0.0.7*/
/*https://github.com/l-lin/font-awesome-animation*/
/*License: MIT*/


@-webkit-keyframes
burst
{
    0%{opacity:.6}
    50%{-webkit-transform:scale(1.8);transform:scale(1.8);opacity:0}
    100%{opacity:0}
}

@keyframes
burst
{
    0%{opacity:1}
    50%{-webkit-transform:scale(1.8);-ms-transform:scale(1.8);transform:scale(1.8);opacity:0.25}
    100%{opacity:1}
}

.verschwinden:hover
{
    -webkit-animation: burst 1s 1 alternate;
    animation:burst 1s 1 alternate
}

/*-----------------------------------------*/
/*Following classes: Bootstrap override*/

.jumbotron p
{
    font-size: medium;
}

.jumbotron h2
{
    font-weight: bold;
}

.btn {
    margin: 2px;
}