

#wrapper
{
    width: 100%;
    height:100%;
    position:absolute;
}

#wrapper .error
{
    display:block;
    color:#f00;
}

#navigation
{
    width: 105pt;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 2%;
    border: 0pt;
    background-color: slategrey;
    padding: 0pt;
    position: absolute;
    color: white;
    font-size: medium;
}

#content
{
    margin-top: 0%;
    margin-left: 100pt;
    float: left;
    padding: 10px 10px 50px 10px;
    position: relative;
}

#content > div.panel
{
    padding-left: 0;
    padding-right: 0;
    margin-left: 5pt;
    margin-right: 5pt;
}

#footer
{
    background-color: lightslategray;
    height: 20px;
    color: white;
    text-align: right;
}

/*Following classes: Bootstrap override*/

.panel{
    border-color: slategray;
}

.panel > .panel-heading
{
    background: slategrey none;
    color: white;
}

.jumbotron p
{
    font-size: medium;
}

.jumbotron h2
{
    font-weight: bold;
}

.navbar
{
    min-height: 1px !important
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    font-weight: bold;
}