

#wrapper
{
    width: 100%;
    height:100%;
    position:absolute;
}

#wrapper .error
{
    display:block;
    color:#f00;
}

#header
{
    width: 100%;
    height: 106px;
    /*margin-bottom: 2%;*/
    border: 0pt;
    /*padding: 5pt;*/
    background-color: lightslategray;
    color: white;
    font-weight: bolder;
}

#image
{
    float:right;
    padding: 2pt;
}

#navigation
{
    width: 100pt;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 2%;
    border: 0pt;
    background-color: lightslategray;
    padding: 0pt;
    position: absolute;
    color: white;
}

#content
{
    margin-top: 0%;
    margin-left: 100pt;
    float: left;
    padding: 10px 10px 50px 10px;
    position: relative;
}

#footer
{
    background-color: lightslategray;
    height: 20px;
    color: white;
    text-align: right;
}

#login
{
    text-align: right;
}

.ui-tabs
{
    position: relative;
    width: 1550px;
}


/*
Bootstrap Override
*/
.navbar
{
    min-height: 1px !important
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    font-weight: bold;
}